@import url('https://fonts.googleapis.com/css?family=Roboto');
.chatPane{
    height: 95vh;
    width:60%;
    margin: 0 auto;
    border: 2px solid black;
}
.chatDisplay{
    height: 80%;
    border-bottom: 2px solid gray;
    background-color: beige;
    overflow-y: scroll;
}
.chatTools{
    height: 20%;
    padding:3px;
    display: block;
}
.textarea{
    height: 90%;
    width: 74.5%;
    background-color: coral;
    display: inline-block;
    float: left;
}
.buttonarea{
    height: 90%;
    width: 24.5%;
    /*background-color:cyan;*/
    display: inline-block;
    float: right;
}
input[type=text]{
    height: 100%;
    width: 100%;
    display: inline-block;
    margin:0 auto;
}
input[type=button]{
    display: inline-block;
    margin:0 auto;
    height: 100%;
    width: 100%;
    background-color: #2ea8d0;
    border-radius: 50px;
    border: none;
    font-family: Roboto;
}
.ans{
    float: left;
    width: 80%;
    background-color: #BFE9F9;
    height: 22px;
    vertical-align: middle;
    padding:5px; 
    border-radius: 27px;
    margin: 10px;
    padding-top: 12px;
    padding-left: 20px;
}
.que{
    float: right;
    width: 80%;
    background-color: #DBF2FA;
    text-align: right;
    margin: 10px;
    height: 22px;
    vertical-align: middle;
    padding:5px;
    padding-top: 12px;
    padding-right: 20px;
    border-radius: 27px;
}